django-environ==0.11.2
pyautogen==0.2.0b5
pydantic==1.10.14
cachetools-5.3.2
google-ai-generativelanguage==0.4.0 
google-api-core==2.16.2 
google-auth==2.27.0 
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
grpcio==1.60.1 
grpcio-status==1.60.1
pillow==10.2.0
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.5.1 
pyasn1-modules==0.3.0
pydantic==1.10.13 
pydash==7.0.7
rsa==4.9